<?xml version="1.0"?>
<robot name="recyclebot">
  <link name="base_footprint" />

  <!-- base link -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.12" radius="0.10" />
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.1 1.0 0.5" />
      </material>
    </visual>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.076" rpy="0 0 0" />
  </joint>

  <!-- laser link -->
  <link name="laser">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.02" />
      </geometry>
      <material name="black">
        <color rgba="0.0 0.0 0.0 0.5" />
      </material>
    </visual>
  </link>
  <joint name="laser_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser" />
    <origin xyz="0 0 0.075" rpy="0 0 0" />
  </joint>

  <!-- camera link -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.05 0.05 0.05" /> <!-- 摄像头的形状 -->
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0" />
      </material>
    </visual>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin xyz="0.0 0.0 0.15" rpy="0 0 0" /> <!-- 摄像头相对于 base_link 的位置 -->
  </joint>

  <!-- imu link -->
  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.02" />
      </geometry>
      <material name="silver">
        <color rgba="0.8 0.8 0.8 1.0" />
      </material>
    </visual>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0.0 0.0 0.1" rpy="0 0 1.5708" /> <!-- IMU 相对于 base_link 的位置 -->
  </joint>

</robot>